@{
    ViewData["Title"] = "Less Hair Please";
}

@using BarberShop.Models

@model HomePageViewModel

<div class="row">
    <div class="col-md-12">
        @DateTime.Now.ToShortTimeString()
    </div>
    <div class="col-md-12">
        <form method="post" class="form-inline">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label for="BarberId">Preferred Barber</label>
                <select class="form-control" id="BarberId" name="BarberId">
                    <option value="0" selected>No Preference</option>
                    @foreach (var b in Model.Barbers)
                    {
                        <option value="@b.Id">@b.Name</option>
                    }
                </select>
            </div>

            <button type="submit" asp-controller="Home" asp-action="Create">Create</button>
        </form>
    </div>
    
</div>

<div class="row">
    <div class="col-md-3 reservations-list">
        <h3>Reservations</h3>

        @foreach (var r in Model.Reservations)
        {
            <partial name="_ReservationCard" model="r" />
        }
    </div>


    @foreach (var b in Model.Barbers)
    {
        <div class="col-md-3">
            <h4>@b.Name</h4>
            @foreach (var r in b.Reservations)
            {
                <partial name="_ReservationCard" model="r" />
            }
        </div>
    }
</div>
